
<div class="h-100 d-flex flex-row justify-content-end align-items-start">
    <button (click)="openEmployeeAddForm()" color="primary" class=" btn btn-primary btn-lg me-auto mt-2">
        Add New Employee
    </button>
    <h1 class="text-center me-auto mt-3">Employee</h1>
     <mat-form-field style="width: fit-content;" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search here" #input>
    </mat-form-field>
</div>
<div class="d-flex flex-column">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort >
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef=" let row">{{row.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row">
                    {{row.email}}
                </td>
            </ng-container>
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let row">
                    {{row.gender}}
                </td>
            </ng-container>
            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation</th>
                <td mat-cell *matCellDef="let row">
                    {{row.designation}}</td>
            </ng-container>
             <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                <td mat-cell *matCellDef="let row">
                    {{row.project}}
                </td>
            </ng-container>
            <ng-container matColumnDef="experience">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
                <td mat-cell *matCellDef="let row">
                    {{row.experience}}
                </td>
            </ng-container>
            <ng-container matColumnDef="phoneNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                <td mat-cell *matCellDef="let row">
                    {{row.phoneNo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="qualification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualification </th>
                <td mat-cell *matCellDef="let row">
                    {{row.qualification}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button style="color: #8ad88c;" (click)="viewEmployee(row)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="prmary" (click)="openEditForm(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>