<div class="h-100 d-flex flex-row justify-content-end align-items-start">
  <button (click)="openAddEditDesignationForm()" color="primary" class=" btn btn-primary btn-lg me-auto mt-2">
    Add New Designation
  </button>
  <h1 class="text-center me-auto mt-3">Designation</h1>
  <mat-form-field style="width: fit-content;" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search here" #input>
  </mat-form-field>
</div>
<div class="d-flex flex-column mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort style="width: 100%; ">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button style="color: #4CAF50;" (click)="viewDetails(row)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="prmary" (click)="openEditForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUserRole(row.id)">
           <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
